/* Gallery section */
#gallery {
  padding: 20px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

#gallery h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/* Gallery grid layout */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/* Image styling */
.gallery-grid img {
  width: 90%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.contact-form {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.contact-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.contact-form input[type="email"],
.contact-form input[type="file"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #28a745; /* green */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #218838;
}

.whatsapp-float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
  margin-top: 11px;
}
